.indent {
	text-indent: 1em;
}

table {
	width: 100%;
	table-layout: fixed;
}

td {
	vertical-align: top;
	padding: 10px;
}

h1, h2 {
	text-align: center;
}

.poetry p {
	margin-top: 0;
	margin-bottom: 0.3em;
	margin-left: 20%;
}